body{
    margin: 0;
    width: 414px;
    background-color: #EBEDEF;
    padding-bottom: 2000px;
}


.background{
    position: relative;

}

.information{
    width: 354px;
    height: 400px;
    position: absolute;
    top: 230px;
    left: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: #264D7F;
    font-family: Arial, Helvetica, sans-serif;
}

.detail-information{
    width: 374px;
    height: 640px;
    position: relative;
    top: 280px;
    margin: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #264D7F;
}


h2{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.detail-list{
    line-height: 22px;
}

.depart-box-H{
    top: 385px;
    width: auto;
    height: auto;
    margin: 10px 20px;
    position: relative;
    border-radius: 10px;
    background-color: #DEE3F5;
    color: #264D7F;

}
.department-title-H> h2{
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.department-name{
    display: flex;
    position: relative;
    justify-content: center;
}

.line-H {
    border-left: 1px solid;
    margin-left: 20px;
    color: aqua;
}

.extra-info{
    position: relative;
    top: 370px;
    text-align: center;
    color: #264D7F;
}

.hospital-info{
    display: flex; 
    align-items: center;
    margin-top: -5px;  
    color: #264D7F; 
}

.hospital-info svg{
    margin-left: 20px;
}

.info-icon{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.hospital-info div{
    margin-right: 30px;
}

