/* ============================================== Start<<  Nilin  >>============================================== */
/* Styling for User Profile page */
.profiledisplay-N{
    background: linear-gradient(180deg, #274690 0%, rgba(40, 50, 139, 0.52) 100%);
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inner-profile-display-N{
    text-align: center;
    color: #FFFFFF;
  }
  
  .inner-profile-display-N img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }
  .inner-profile-display-N a img{
    width: 20px;
    height: 20px;
  }
  
  /* Section for Tabs */
  .grid-container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
  
  .grid-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 16px;
    height: 50px;
    background-color: #FFFFFF;
  }
  
  .grid-container > div:hover{
    background-color: #EBEDEF;
  }
  
  .tablinks > a{
    text-decoration: none;
    color: #000000;
  }
  .tablinks > a:hover{
    color:#000000;
  }
  
  .tab .tablinks:hover {
    border-bottom: 2px solid #000000;
    transition-duration: 0.3s;
  }
  
  /* Section for My Profile Content */
  .profile-info-N{
    text-align: left;
    padding-top: 10px;
    color:#264D7F;
    padding: 25px 32px 0px 20px;
  }
  
  .display-info-N span{
    opacity: 70%;
    font-weight: 400;
    padding: 25px 15px;
  }
  
  .sever-info-N{
    color: #B2ACB0;
  }
  
  .card-logo-N img{
    float: right;
    width: 40px;
    height: 30px;
  }
  
  /* Section for my schedule */
  .schedule-cont{
    margin-top: 0;
  }
  
  .display-schedule-N canvas{
    width: 40px;
    height: 40px;
    background-color: #4C9AFF;
    display: float;
    float: left;
    margin-left: 30px;
  }
  
  .display-schedule-N p{
    padding-top: 10px;
    color: #264D7F;
    padding-left: 80px;
  }
  
  .service-title-B .N-span{
    font-size: 24px;
    color: #264D7F;
  }
  
  .display-past-N .display-box-N{
    height: 80px;
    padding: 30px 60px;
    color: #264D7F;
    background-color: #EBEDEF;
  }
  
  .display-box-N p{
    opacity: 70%;
  }
  
  #calendar-N{
    margin: auto;
  }
  
  /*Section for edit User profile*/
  
  .edit-field-N{
    margin: 25px 0px;
    width: 100%;
  }
  
  .user-dis-N input{
    border: 1px solid #4C9AFF;
    background-color: #F7F8F8;
    width: 100%;
  }
  .user-dis-N span{
    position: absolute;
    left: 0;
    padding: 10px;
    padding-left: 10px;
    font-size: 1rem;
    color: #264D7F;
    pointer-events: none;
    transition: 0.25s;
  }
  .user-dis-N input::placeholder{
    color:transparent;
  }
  
  .user-dis-N input:valid ~ span,
  .user-dis-N input:focus ~ span{
    color: #264D7F;
    transform: translateX(10px) translateY(-9px);
    font-size: 0.85rem;
    padding: 0 10px;
    background: #F7F8F8;
    letter-spacing: 0.1rem;
  }
  
  .user-dis-N input:valid,
  .user-dis-N input:focus{
    color: #264D7F;
    border: 1px solid #4C9AFF;
    opacity: 80%;
  }
  
  .user-dis-N input:focus::placeholder,
  .user-dis-N input:valid::placeholder{
    color: #264D7F;
  }
  
  #card-N1{
    background-image: url('./img/master-card.svg');
    background-repeat: no-repeat;
    background-position: right;
  }
  
  #card-N2{
    background-image: url('./img/visa.svg');
    background-repeat: no-repeat;
    background-position: right;
  }
  /* ============================================== End<<  Nilin  >>============================================== */